<ion-header>
  <ion-toolbar>
    <ion-title>Panel PetCare</ion-title>
  </ion-toolbar>

  <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

  <ion-buttons slot="end">
  <ion-button (click)="cerrarSesion()">
    Cerrar sesión
  </ion-button>
</ion-buttons>
  



</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, {{ nombreUsuario }}</ion-card-title>
      <ion-card-subtitle>Resumen de tu mascota</ion-card-subtitle>
    </ion-card-header>

    <!-- <ion-card-content>
      <p>Mascota: <strong>{{ mascota.nombre }}</strong> ({{ mascota.especie }})</p>
      <p>Edad: {{ mascota.edad }} años</p>
      <p>Próxima vacuna: {{ mascota.proximaVacuna }}</p>

      <p>Salud general:</p>
      <ion-progress-bar [value]="mascota.saludGeneral"></ion-progress-bar>
    </ion-card-content> -->



    <ion-card-content *ngIf="mascota">
  <p>Mascota: <strong>{{ mascota.nombre }}</strong> ({{ mascota.especie }})</p>
  <p>Raza: {{ mascota.raza }}</p>
  <p>Edad: {{ mascota.edad }} años</p>
  <p>Peso: {{ mascota.peso }} kg</p>
  <p>Notas: {{ mascota.notas }}</p>
</ion-card-content>



  </ion-card>

  <ion-list>
    <ion-item button (click)="irAMascota()">
      <ion-label>Ver perfil de la mascota</ion-label>
    </ion-item>
    <ion-item button (click)="irAVacunas()">
      <ion-label>Ver calendario de vacunas</ion-label>
    </ion-item>
    <ion-item button (click)="irACitas()">
      <ion-label>Ver citas veterinarias</ion-label>
    </ion-item>


    <ion-item>
  <ion-label>Modo oscuro</ion-label>
  <ion-toggle (ionChange)="toggleDarkMode($event)"></ion-toggle>
</ion-item>


  </ion-list>

</ion-content>
