<ion-header>
  <ion-toolbar>
    <ion-title>Citas veterinarias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let c of citas">
      <ion-label>
        <h2>{{ c.motivo }}</h2>
        <p>{{ c.lugar }}</p>
        <p>Fecha: {{ c.fecha | date:'dd-MM-yyyy' }}</p>
      </ion-label>
      <ion-badge [color]="c.realizada ? 'success' : 'warning'">
        {{ c.realizada ? 'Realizada' : 'Pendiente' }}
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
