ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}


ion-card-title,
ion-card-subtitle {
  color: var(--ion-text-color);
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
